@using Microsoft.AspNetCore.Html;

@{
    var autoCompleteStyleLink = new HtmlString("<link rel=\"stylesheet\" href=\"https://unpkg.com/@trevoreyre/autocomplete-js@5.0.0/dist/style.css\" />");
    var autoCompleteScriptLink = new HtmlString("<script src=\"https://code.jquery.com/jquery-3.6.0.min.js\"></script><script src=\"https://unpkg.com/@trevoreyre/autocomplete-js\"></script>");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Include the Autocomplete library CSS -->
    @* @autoCompleteStyleLink *@
    <!-- Include jQuery and the Autocomplete library JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* @autoCompleteScriptLink *@
    <!-- Required JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-8H1EJOT9lAtGh0sCwkiQ5C1K+IyxfO2zFyB1S5m/q6qb/CwTKC+1LJb8n4+P4JGQ"
            crossorigin="anonymous"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/darkreader/darkreader.min.js"></script> *@

    @* <script>
        DarkReader.enable({
            brightness: 100,
            contrast: 90,
        });
    </script> *@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessTracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workouts" asp-action="Index">Workouts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Vitals" asp-action="Index">Vitals</a>
                        </li>
                        </li>
                        @if (User.IsInRole("PremiumUser"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Chart" asp-action="Index">Charts</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FitnessTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
