@* @model bool isPremiumUser

@if (isPremiumUser)
{
    <div class="row mt-3">
        <div class="col-md-6">
            <h4>Vitals Graph</h4>
            <!-- code to display vitals graph -->
        </div>
        <div class="col-md-6">
            <h4>Workouts Graph</h4>
            <!-- code to display workouts graph -->
        </div>
    </div>
}

<div class="row mt-3">
    <div class="col-md-12">
        <h4>Filter Vitals Fields</h4>
        <form id="filterForm">
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Field 1</label>
                    <input type="checkbox" class="form-control" name="field1" checked>
                </div>
                <div class="col-md-6">
                    <label>Field 2</label>
                    <input type="checkbox" class="form-control" name="field2" checked>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Apply Filter</button>
        </form>
    </div>
</div> *@
