@model FitnessTracker.Models.WorkoutsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WorkoutsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Type">Type:</label>
                <select class="form-control" id="Type" name="Type">
                    <option value="@Model.Type" selected>@Model.Type</option>
                    <option value="">--Select Type--</option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Custom">Custom</option>
                </select>
            </div>

            <div class="form-group d-none" id="custom-type">
                <label for="CustomType">Custom Type:</label>
                <input type="text" class="form-control" id="CustomType" name="CustomType" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaloriesBurned" class="control-label"></label>
                <input asp-for="CaloriesBurned" class="form-control" />
                <span asp-validation-for="CaloriesBurned" class="text-danger"></span>
            </div>
            <h4>Vitals Model</h4>
            @if (Model.Vitals != null)
            {
                <input type="hidden" asp-for="Vitals" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Vitals)" />
                <div class="form-group">
                    <input class="visually-hidden" asp-for="VitalsId" class="form-control" />
                    <span asp-validation-for="VitalsId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vitals.SystolicBP" class="control-label"></label>
                    <input asp-for="Vitals.SystolicBP" class="form-control" />
                    <span asp-validation-for="Vitals.SystolicBP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vitals.DiastolicBP" class="control-label"></label>
                    <input asp-for="Vitals.DiastolicBP" class="form-control" />
                    <span asp-validation-for="Vitals.DiastolicBP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vitals.HeartRate" class="control-label"></label>
                    <input asp-for="Vitals.HeartRate" class="form-control" />
                    <span asp-validation-for="Vitals.HeartRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vitals.OxygenSaturation" class="control-label"></label>
                    <input asp-for="Vitals.OxygenSaturation" class="form-control" />
                    <span asp-validation-for="Vitals.OxygenSaturation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Vitals.Date" class="form-control" />
                    <span asp-validation-for="Vitals.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Vitals.FitnessUserId" class="form-control" />
                    <span asp-validation-for="Vitals.FitnessUserId" class="text-danger"></span>
                </div>

                @* <input type="hidden" asp-for="Vitals" value="@ViewBag.Vitals"/> *@
            }
            else
            {
                <p>None Found</p>
            }
            <input type="hidden" asp-for="FitnessUserId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
