@model IEnumerable<FitnessTracker.Models.WorkoutsModel>

<div class="container">
    <h1>Workouts</h1>
    <hr />
    <div class="row">
        @foreach (var workout in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h4>@workout.Name</h4>
                        <p class="card-text">@workout.Type</p>
                        <p class="card-text">@workout.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-route-id="@workout.Id" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>