@model FitnessTracker.Models.VitalsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VitalsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeartRate" class="control-label"></label>
                <input asp-for="HeartRate" class="form-control" />
                <span asp-validation-for="HeartRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystolicBP" class="control-label"></label>
                <input asp-for="SystolicBP" class="form-control" />
                <span asp-validation-for="SystolicBP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiastolicBP" class="control-label"></label>
                <input asp-for="DiastolicBP" class="form-control" />
                <span asp-validation-for="DiastolicBP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OxygenSaturation" class="control-label"></label>
                <input asp-for="OxygenSaturation" class="form-control" />
                <span asp-validation-for="OxygenSaturation" class="text-danger"></span>
            </div>
            <input type="hidden" name="FitnessUserId" value="@ViewBag.CurrentUserId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
