@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to the Fitness Tracker!</h1>


<p class="lead">Hello, @ViewBag.userName !</p>


<p class="lead">This is a simple fitness tracker that allows you to track your workouts and vitals.</p>
<hr class="my-4">

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Workouts</h5>
                <p class="card-text">View and track your workouts.</p>
                <a href="Workouts" class="btn btn-primary">Go to Workouts</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vitals</h5>
                <p class="card-text">View and track your vitals.</p>
                <a href="Vitals" class="btn btn-primary">Go to Vitals</a>
            </div>
        </div>
    </div>
    @if (User.IsInRole("PremiumUser"))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Charts</h5>
                    <p class="card-text">Visualize your vitals.</p>
                    <a href="Chart" class="btn btn-primary">Go to Charts</a>
                </div>
            </div>
        </div>
    }
</div>
